.tagsFilter {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28px;
}

.title {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--grey-100);
  flex-grow: 1;
}

.tagsList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
