.noteHeader {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px 4px 0px 0px;
  background: var(--grey-950);
  box-shadow: var(--box-shadow-small);
  margin: 8px 8px;
}

.noteHeader .content {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 1 0;
  width: calc(100% - 16px);
}

.breadcrumbs-container {
  width: calc(100% - 80px);
}

.folder-indicator {
  width: 8px;
  height: 100%;
  border-radius: 4px 0px 0px 0px;
}

.noteHeader .line-one {
  max-width: 100%;
  display: flex;
  padding: 4px 0px;
  justify-content: space-between;
  row-gap: 8px;
  align-items: flex-start;
  align-self: stretch;
}

.noteHeader .line-one .actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.collapse-icon {
  transform: rotate(90deg);
  transition: transform 0.3s;
}

.expand-icon {
  transform: rotate(270deg);
  transition: transform 0.3s;
}

.actions-icon {
  transform: rotate(90deg);
}
