.notes-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.notes-group .name {
  color: var(--grey-400);
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.notes-group .notes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
