.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.mainContent {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}

.mainContentWithSidebar {
  @media (min-width: 768px) {
    margin-left: var(--side-bar-width);
    width: calc(100% - var(--side-bar-width));
  }
}
