:root {
  --grey-990: #1e2125;
  --grey-950: #282b30;
  --grey-930: #30343a;
  --grey-900: #111827;
  --grey-800: #3f444b;
  --grey-700: #374151;
  --grey-400: #9ca3af;
  --grey-300: #d1d5db;
  --grey-200: #e5e7eb;
  --grey-100: #f3f4f6;
  --grey-50: #f9fafb;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-990);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

header {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.caption {
}

.text-paragraph-bold {
}
